/zuno/.settings
/zuno/.vscode
/zuno/.project
/zuno/Thermostat.code-workspace
/zuno/.cproject
/zuno/__vm
/zuno/*.vcxproj
/zuno/.vs/Thermostat/v15
/zuno/Thermostat.vcxproj.filters
/zuno/Thermostat.vcxproj.user
/zuno/*.sln
